@font-face {
  font-family: 'pingfang';
  src:  url('../font/PingFang.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src:  url('../font/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: "pingfang", "roboto",sans-serif;
}
::-webkit-scrollbar{
  width:8px;
  height:8px;
  background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #808080;
}
